{% extends "base.html" %}
{% block content %}
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h2>About Me</h2>
                <p>
                    I am a Network Engineer with many years of experience and passion for new technologies.
                    I created Network Blog to share my knwledge and experience with new people.
                    Providing posts on new technologies, market trends and laboratories to challenge your knowledge and
                    skills.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}