{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Network Blog">
    <meta name="keywords" content="network, networking, blog, eigrp, ospg, is-is, bgp, design, wireless, vpn, mpls">
    <meta name="author" content="Giovanni Perrotta">
    {% endblock %}
    {% block extra_meta %}
    {% endblock %}
    {% block corecss %}
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.png' %}">
    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    {% block corejs %}
    <!-- Core JS Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
    <!-- Title -->
    <title>Network Blog</title>
</head>

<body class="d-flex flex-column h-100 main-bg">
    <!-- Note: the code has been used from the CI tutorial I Think Therefore I Blog to help the setup and creation of this project. -->
    <header>
        <!-- Start of Navigation -->
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <h1 id="logo">Network Blog</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact Me</a>
                        </li>
                    </ul>
                    <form id="search-bar" name="post-form" class="d-flex" method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Search Post" aria-label="Search"
                            name="searched" pattern=".{2,}" title="Please enter minimum of 2 characters" required>
                        <button class="btn" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- End of Navigation -->
        <!-- Start of Alert Section -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End of Alert Section -->
    </header>
    <!-- Start of Main Content Section -->
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        {% endblock content %}
    </main>
    <!-- End of Main Content Section -->
    <!-- Start of Footer -->
    <footer id="footer" class="py-3">
        <!-- Social Media Links -->
        <div>
            <ul class="social-links p-0 text-center">
                <li>
                    <a href="https://www.youtube.com" target="_blank"
                        aria-label="Visit our YouTube page (link opens in a new tab)" rel="noopener"><i
                            class="fab fa-youtube"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com" target="_blank"
                        aria-label="Visit our Instagram page (links opens in a new tab)" rel="noopener"><i
                            class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com" target="_blank"
                        aria-label="Visit our Facebook page (link opens in a new tab)" rel="noopener"><i
                            class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.twitter.com" target="_blank"
                        aria-label="Visit our Twitter page (link opens in a new tab)" rel="noopener"><i
                            class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </div>
        <!-- Copyright Text -->
        <div id="coypright">
            <p class="m-0 text-center text-white">&copy; Copyright Network Blog 2023</p>
        </div>
    </footer>
    <!-- End of Footer -->
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2000);
    </script>
    {% block postloadjs %}
    {% endblock %}
</body>

</html>