{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h2>Contact Me</h2>
                <p>
                    Questions? Requests? Feedback? Let me know by filling out the below form!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form method="POST" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-signup right mt-4" type="submit">Send &raquo;</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}